.pSprite {
    display: block;
    margin-right: 80%;
    margin-left : 20%;
 
    margin-bottom: 3%;
    width: 150px;
    height: 150px
}
.oSprite {
    display : block;
    margin-top: 15%;
    margin-right : 32%;
    margin-left : 68%;
    width : 150px;
    height : 150px
}

.header {
    font-size: 50px;
    text-align: center;
}
.button{
    display: flex;
    margin-right : auto;
    margin-left : auto;
    justify-content: center;
}

body {
    margin: 0;
    height: 20vh;
    background-image: url("background.png") ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.p1 {
    font-size: 50px;
    text-align: center;
    color: red;
}